.contact {
  background-image: url("../../../public/assets/Menu/wave.png");
  background-repeat: no-repeat;
  background-size: 75vh;
  background-position: 45% 50%;
  height: 100%;
  width: 100%;
  .contact-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 130px;
      font-family: "title";
    }
    p {
      font-size: 20px;
      margin-top: 3%;
    }
    a {
      font-size: 18px;

      display: block;
      text-decoration: none;
      color: white;
      margin-top: 1%;
      &:hover {
        color: $red-span;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    .contact-content {
      h1 {
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    .contact-content {
      h1 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .contact {
    .contact-content {
      h1 {
        font-size: 40px;
      }
    }
  }
}
