$black: rgb(23, 23, 23);
$white: #fff;
$red: #9f2d2d;
$red-span: #be3535;

@font-face {
  font-family: "title";
  src: url(../assets/font/etna.otf);
}

@font-face {
  font-family: "title-italic";
  src: url(../assets/font/etna-italic.otf);
}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  background: $black;
  font-family: "Poppins", sans-serif;
  color: $white;
}

span {
  color: $red;
}

main {
  height: 100vh;
}
li {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 15vh;
  }
}
